.titulo{text-align:  center; font-size: 40px;background-color:black; color: white; margin-left: 300px; margin-right: 200px;}


.formu{margin-left: 300px; margin-right: 200px; color:  white; background-color: black;}
.datM{margin-left: 300px;  color: white; background-color: black;margin-bottom: 400px;margin-right: 200px;}

.dat{text-align: center; color: white;}